@CHARSET "UTF-8";
body { background-color: #1C1C1C; }
* { margin: 0; padding: 0; font-family: "HPE"; }
.wrap { margin: 0 auto; width: 90%;  margin-left: 65px;}
.tile { width: 220px; height: 145px;margin-top:5px; 
background-color: #3c3e44; display: inline-block; 
background-size: cover; position: relative; 
cursor: pointer; transition: all 0.4s ease-out; 
box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44); 
overflow: hidden; color: white; 
margin-left: 10px;}
.tile img { height: 100%; width: 100%; position: absolute; top: 0; left: 0; 
z-index: 0; transition: all 0.4s ease-out;}
.tile .text { z-index: 99; position: absolute; padding: 30px; height: calc(100% - 60px); }
.tile h1 {/*  font-weight: 300; */ font-size:20px; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
.tile h2 {/*  font-weight: 100; */font-size:15px; margin-top: 10px; font-style: italic; transform: translateX(200px); }
.tile p { /* font-weight: 300; */font-size:10px; margin-top: 10px; line-height: 25px; transform: translateX(-200px); transition-delay: 0.2s; }
.animate-text { opacity: 0; transition: all 0.6s ease-in-out;}
.tile:hover { box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64); transform: scale(1.05); }
.tile:hover img { opacity: 0.2; }
.tile:hover .animate-text { transform: translateX(0); opacity: 1; }
.dots { position: absolute; bottom: 20px; right: 30px; margin: 0 auto; width: 30px; height: 30px; color: currentColor; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }
.dots span { width: 5px; height: 5px; background-color: currentColor; border-radius: 50%; display: block; opacity: 0; transition: transform 0.4s ease-out, opacity 0.5s ease; transform: translateY(30px); }
.tile:hover span { opacity: 1; transform: translateY(0px); }
.dots span:nth-child(1) { transition-delay: 0.05s; }
.dots span:nth-child(2) { transition-delay: 0.1s; }
.dots span:nth-child(3) { transition-delay: 0.15s; }

.classify_title{
	width: 88%;
	height: 40px;
	background-color: rgba(38,38,38,0.3);
	margin-left: 80px;
	margin-top: 10px;
}
.classify_title span {
	width: 150px;
	height: 20px;
	display: inline-block;
	float: left;
	margin-left:10px;
	margin-top:10px;
	color: #fff;
	font-size: 22px;
	background-size: 79%;
}



.tile2{
	width:720px;
	height:300px;
	margin-left: 500px;
	margin-top: 20px;
}
.tile1{
	 width: 460px; 
	 height: 300px; 
	 float:left;
	 margin-left: 30px; 
	 margin-top: 5px;
	 background-color: #3c3e44;
	 display: inline-block; 
	 background-size: cover; 
	 position: relative; 
	 cursor: pointer; 
	 transition: all 0.4s ease-out; 
	 box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
	  overflow: hidden; color: white; }
.tile1 .text1 { 
	z-index: 99; 
	position: absolute;
	 padding: 30px; 
	 height: calc(100% - 60px); }
.first_img{ 
	height: 100%; 
	width: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 0; 
	transition: all 0.4s ease-out; }
.first { 
	font-weight: 350; 
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
.animate-text1 { 
	font-weight: 300; 
	margin-top: 20px; 
	line-height: 25px; 
	transform: translateX(-200px); 
	transition-delay: 0.2s; }
.animate-text1 { opacity: 0; transition: all 0.6s ease-in-out;}
.tile1:hover { box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64); transform: scale(1.05); }
.tile1:hover img.first_img { opacity: 0.2; }
.animate-text1:hover  { transform: translateX(0); opacity: 1; }


/*更多按钮*/
.readAll1:hover {
  color: #0099E1;
}
.readAll1 {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  text-decoration: none;
  margin-right: 100px;
}
.readAll1 i {
  display: inline-block;
  width: 7px;
  height: 12px;
  margin-left: 6px;
  background-position: -40px -260px;
}
.readAll1:hover i {
  background-position: -120px -60px;
}
.icon-sprite {
  background: url(../images/icon_sprite.png) no-repeat;
}

