@CHARSET "UTF-8";

html,body,header,nav,footer,div,ul,ol,li,p,form,input,a,span,em,i,strong,
b,font,img{
		margin:0; padding:0; list-style:none; border:none;}
body{
	background-color: #1c1c1c;
	color:#fff;
}
.wapper{
	width:100%;
	text-align: center;
}
.password{
	width:80%;
	height:578px;
	padding-top: 100px;
	margin: 0 auto;
}
.pass_update{
	margin:0 auto;
	width:80%;
	height: 30px;
	text-align: left;
}
.pass_update{
	font-size: 20px;
	
}
.tishi{
	padding-left:5px;
	padding-top:5px;
	font-size: 14px;
	font-style: italic;
}
.center{
	margin: 0 auto;
	width: 80%;
	height: 460px;
	margin-top: 30px;
	box-shadow: 0 0 3px #0099E1;
	text-align: left;
	background-color: rgba(225,225,225,0.09);
}
.center_top{
	width: 80%;
	height:35px;
	margin:0 auto;
	margin-top:40px;
	font-size:20px;
}
.center_top ul{
	margin: 0 auto;
	margin-left: 13%;
}
.top{
	float:left;
	width: 280px; 
	height: 35px;
	margin-left:5px;
	text-align:center;
	/* background: url(img/tubiao.png); */
	
}
.top1 {
	 background: url(img/tubiao.png) no-repeat; 
}
.top2 {
	 background: url(img/tubiao1.png) no-repeat; 
}
.top a{
	color: #fff;
}
.main{
	margin: 0 auto;
}
.pass{
	width: 60%;
	height:300px;
	margin: 0 auto;
	margin-top: 20px;
}
.pass_update ul{
	padding-top: 30px;	
	padding-bottom: 100px;
}
.pass_update ul .mi{
	float: inherit;
	font-size: 20px;
	margin-left: 18%;
	margin-top: 20px;
}
.pass_update ul li input{
	width: 230px;
	height: 25px;
	background: none;
	border: 1px solid #0099E1;
	color: #fff;
	background-color: rgba(255,255,255,0.05);
}
.but{
	margin-left: 49%;
	margin-top: 30px;
}
.but button{
	width: 80px;
	height: 35px;
	font-size:20px;
	background: none;
	background-color:#0099E1;
	color: #fff;
	border: none;
}
.pass_ok{
	 display: none; 
	font-size: 35px;
	margin: 0 auto;
	color:#0099E1;
}
.pass_ok img{
	width: 100px;
	height: 100px;
}
.word_ok{
	margin-top: 30px;
}
.pass_ok ul li{
	float: left;
}
.pass_ok ul{
	margin-left: 160px;
	padding-top: 80px;
}
