@CHARSET "UTF-8";

/* ====== public ====== */
.main {
  overflow: hidden;
  position: relative;
}
.main-inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-bottom:100px;
}
.main-title {
  position: relative;
  width: 490px;
  height: 46px;
  padding-top: 90px;
  margin: 0 auto 50px;
}
.main-title .title {
  width: 490px;
  text-align: center;
}
.main-title .title i {
  display: inline-block;
  width: 196px;
  height: 46px;
  /* background: url(../images/main_title.png) no-repeat; */
}
.main-title .line {
  position: absolute;
  top: 104px;
  width: 72px;
  height: 1px;
  background-color: #fff;
  opacity: .1;
}
.main-title .line-left {
  left: 0;
}
.main-title .line-right {
  right: 0;
}
/* .readAll {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 15px;
}
.readAll i {
  display: inline-block;
  width: 7px;
  height: 12px;
  margin-left: 6px;
  background-position: -40px -260px;
}
.readAll:hover i {
  background-position: -120px -60px;
} */
.main-tab {
  text-align: center;
  font-size: 0;
}
.main-tab .item {
  display: inline-block;
  height: 50px;
  font-size: 16px;
  margin: 0 35px;
  color: #fff;
  opacity: .5;
}
.main-tab .item:hover,
.main-tab .item-cur {
  opacity: 1;
}

.main .img img,
.main .img i,
.main .mask,
.main .icon-play {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.main .img:hover img {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
}

.main .icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  margin: -35px;
  background: url(../images/icon_play.png) no-repeat;
  opacity: 0;

  transform: scale(0.7);
  -webkit-transform: scale(0.7);
}

.mv-list .item:hover .icon-play {
  opacity: 1;

  transform: scale(1);
  -webkit-transform: scale(1);
}

/* ====== MV ====== */
#mv {
  height: 100%;
  background-color: #1c1c1c;
}
#mv .main-title .title i {
  width: 170px;
  background-position: 0 -180px;
}
#mv .main-title .line {
  background-color: #000;
}
#mv .main-tab .item {
  color: #bebebe;
  opacity: .5
}
#mv .main-tab .item:hover,
#mv .main-tab .item-cur {
  opacity: 1;
}
#mv .readAll {
  color: #333;
}
#mv .readAll:hover {
  color: #0099E1;
}
#mv .readAll i {
  background-position: -120px -40px;
}
#mv .readAll:hover i {
  background-position: -120px -60px;
}
.mv-list {
	width: 1200px;
}
.mv-list .item {
  float: left;
  width: 600px;
  height: 220px;
}
.mv-list .img {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 170px;
}
.mv-list .img:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.4) 80%,rgba(0,0,0,.7) 100%);
}
.mv-list .img img {
  width: 100%;
  height: 100%;
}
.mv-list .aa{
	width: 300px;
	height: 170px;
	float: left;
}
.mv-list .info {
  /* padding: 38px 0; */ 
  margin-top: 50px;
  margin-left: 350px;
  /* text-align: center; */
}
.mv-list .info .title {}
.mv-list .info .author {
  line-height: 34px;
}
.mv-list .info .author,
.mv-list .info .play-total {
  color: #999;
}
.mv-list .info .author:hover {
  color: #0099E1;
}
.mv-list .info .play-total i {
  display: inline-block;
  width: 19px;
  height: 12px;
  margin-right: 5px;
  background-position: -180px -20px;
  vertical-align: -1px;
}


.search_page{
	margin-left:500px;
    width:220px;
    height:20px;
    margin-top:900px;
}
.search_last-button{
	width: 55px;
	height: 22px;
	border-radius: 12px;
	text-align: center;
	background-color:rgba(225,225,225,0.1);
	color: #0099E1;
}
.search_next-button{
	width: 55px;
	height: 22px;
	border-radius: 12px;
	text-align: center;
	background-color:rgba(225,225,225,0.1);
	color: #0099E1;
	margin-left: 30px;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color:#fff;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}