<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.DanmuMapper" >
  <resultMap id="BaseResultMap" type="com.po.Danmu" >
    <id column="danmuId" property="danmuId" jdbcType="VARCHAR" />
    <result column="videoId" property="videoId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.po.Danmu" extends="BaseResultMap" >
    <result column="danmu" property="danmu" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    danmuId, videoId, userId
  </sql>
  <sql id="Blob_Column_List" >
    danmu
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.po.DanmuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from danmu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.po.DanmuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from danmu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from danmu
    where danmuId = #{danmuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from danmu
    where danmuId = #{danmuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.po.DanmuExample" >
    delete from danmu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.po.Danmu" >
    insert into danmu (danmuId, videoId, userId, 
      danmu)
    values (#{danmuId,jdbcType=VARCHAR}, #{videoId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{danmu,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.po.Danmu" >
    insert into danmu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="danmuId != null" >
        danmuId,
      </if>
      <if test="videoId != null" >
        videoId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="danmu != null" >
        danmu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="danmuId != null" >
        #{danmuId,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="danmu != null" >
        #{danmu,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.po.DanmuExample" resultType="java.lang.Integer" >
    select count(*) from danmu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update danmu
    <set >
      <if test="record.danmuId != null" >
        danmuId = #{record.danmuId,jdbcType=VARCHAR},
      </if>
      <if test="record.videoId != null" >
        videoId = #{record.videoId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        userId = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.danmu != null" >
        danmu = #{record.danmu,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update danmu
    set danmuId = #{record.danmuId,jdbcType=VARCHAR},
      videoId = #{record.videoId,jdbcType=VARCHAR},
      userId = #{record.userId,jdbcType=VARCHAR},
      danmu = #{record.danmu,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update danmu
    set danmuId = #{record.danmuId,jdbcType=VARCHAR},
      videoId = #{record.videoId,jdbcType=VARCHAR},
      userId = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.po.Danmu" >
    update danmu
    <set >
      <if test="videoId != null" >
        videoId = #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="danmu != null" >
        danmu = #{danmu,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where danmuId = #{danmuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.po.Danmu" >
    update danmu
    set videoId = #{videoId,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=VARCHAR},
      danmu = #{danmu,jdbcType=LONGVARCHAR}
    where danmuId = #{danmuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.po.Danmu" >
    update danmu
    set videoId = #{videoId,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=VARCHAR}
    where danmuId = #{danmuId,jdbcType=VARCHAR}
  </update>
</mapper>